#footer{
    padding-left: 20px;
    border: 2px none;
    margin: 0px auto;
    height: 80px;
    width: 110%;
    margin: 1px solid red;
    text-align: center;
    margin-top: 200px;
    background-color: #333333;
    padding-top: 10px;
    color: white;
    font-family: sans-serif, Arial, Helvetica;
    font-size: 14px;
    box-shadow: 0px 0px 20px gray;
}