a{
    color: #529125;
    text-decoration: none;
}

a:visited{
    color: #529125;
    text-decoration: none;
}

a:hover{
    color: #285616;
    text-decoration: none;
}

.red{
    color: #9b2422 !important;
}

.blue{
    color: #0c73f2 !important;
}

.orange{
    color: #d69d2a !important;
}

.icon{
    font-family: 'icons';
    float: left;
    margin-right: 5px;
    margin-top: -2px;
}

.clearfix{
    float: none;
    clear: both;
}

/*Cabecera*/
#header{
    min-width: 1024px;
    width: 100%;
    height: 250px;
    margin: 0px auto;
    background-color:#ffffffef;
}

#header a{
    text-decoration: none;
}

#header #logotipo{
    width: 770px;
    margin: 0 auto;
    padding-top: 45px;
}

#header #logotipo img{
    display: block;
    text-align: center;
    margin: 0px auto;
    width: 300px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

#header h1{
    text-align: center;
    font-size: 40px;
    font-family: 'nevis';
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-top: 10px;
    text-shadow: 0px 2px 1px #333333;
    transition: all 300ms;
}

#header h1:hover{
    text-shadow: 0px 2px 1px #333333, 0px 0px 4px #70b231;
}

#header h1 a{
    color: #70b231;

}

/*Menu*/

#nav{
    height: 45px;
    width: 100%;
    background-color: #333333;
    color: white;
    font-family: 'Oswald';
    font-size: 20px;
    box-shadow: 0px 0px 2px gray;
    margin-bottom: 30px;
}

#nav ul{
    list-style: none;
    text-decoration: none;
    margin: 0px auto;
    width: 1090px;
    justify-content: center;
    display: flex;
    

}

#nav > ul > li{
    line-height: 45px;
    float: left;
    border-right: 1px solid gray;
    transition: all 300ms;
}

#nav > ul > li a{
    display: block;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    text-decoration: none;
}

#nav > ul > li >a:first-child{
    border-left: 1px solid gray;
}

#nav > ul > li:hover{
    background-color: #70b231;
    box-shadow: 0px 0px 4px green inset;
}

#nav > ul > li .usuarioPading{
    margin-right: 100px;
}

/*##########################################################################################################################3*/

.membresias h1{
    text-align: center;
    font-size: 40px;
    font-family: 'nevis';
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-top: 10px;
    text-shadow: 0px 2px 1px #333333;
    transition: all 300ms;
    margin-top: 80px;
}
.membresias h1:hover{
    text-shadow: 0px 2px 1px #333333, 0px 0px 8px #5c5a5a;
}


/*Codigo para las tarjetas de precios*/
.pricing-table{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	width: min(1660px, 95%);
    margin-left: 2.5%;
    margin-bottom: 100px;
    margin-top: 30px;
}

.pricing-card{
	flex: 1 ;
	max-width: 360px; 
	background-color: #fff; 
	margin: 20px 10px; 
	text-align: center;
	cursor: pointer;
	overflow: hidden;
	color: #2d2d2d; 
	transition: .3s linear;
    box-shadow: 0px 0px 8px gray;
}

.pricing-card-header{
	background-color: #70b231; 
	display: inline-block;
	color: #fff; 
	padding: 12px 30px; 
	border-radius: 0 0 20px 20px; 
	font-size: 16px; 
	text-transform: uppercase;
	font-weight: 600; 
	transition: .4s linear; 
}

.pricing-card:hover .pricing-card-header{
	box-shadow: 0 0 0 17em #70b231;
}

.price{
	font-size: 70px; 
	color: #70b231; 
	margin: 40px 0; 
	transition: .2s linear; 
}

.price sup, .price span{
	font-size: 22px; 
	font-weight: 700; 
}

.pricing-card:hover, .pricing-card:hover .price{
	color: #fff; 
}

.pricing-card li{
	font-size: 16px; 
	padding: 10px 0; 
	text-transform: uppercase;
}

.order-btn{
	display: inline-block;
	margin-bottom: 40px; 
	margin-top: 80px; 
	border: 2px solid #70b231;
	color: #70b231; 
	padding: 18px 40px; 
	border-radius: 8px; 
	text-transform: uppercase;
	font-weight: 500; 
	transition: .3s linear;
}

.order-btn:hover{
	background-color: #70b231; 
	color: #fff; 
}

@media screen and (max-width: 1100px){
	.pricing-card{
		flex: 50%;
	}
}

.fa-shopping-cart{
    font-size: 40px;
}

/*Footer*/

#footer{
    padding-left: 20px;
    border: 2px none;
    margin: 0px auto;
    height: 80px;
    margin: 0px auto;
    text-align: center;
    margin-top: 200px;
    background-color: #333333;
    padding-top: 10px;
    color: white;
    font-family: sans-serif, Arial, Helvetica;
    font-size: 14px;
    box-shadow: 0px 0px 20px gray;
    position:absolute;
    bottom:-900px;
    width: 100%;
}

